.banner {
  height: 600px;
  overflow: hidden;
  background-color: $charcoal;
  color: $white;
  overflow: hidden;
  position: relative;
  background-image: url('../Images/landingpage/Wide-Graphical.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 630px;
  }
}