.tech-tag {
    background-color: rgba($color: $white, $alpha: 0.15);
    padding: 7px;
    border: 1px $white solid;
    margin: 5px;
    margin-left: unset;

    p {
        font-size: 12px;
    }
}