[class*="h-line"] {
    padding: 3px 0;
    background-color: $charcoal;
    border: 0;
    margin: 10px 0;
}
.h-line-1 {
    width: 300px;
}

.h-line-2 {
    width: 200px;
}

.h-line-3 {
    width: 100px;
}

