body {
	background-color: $bodyCol;
}

#parallax {
	position: fixed;
	bottom: 0;
	width: 100%;

	&>* {
		width: 350px;
		transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}

	.parallax-mountain-a {
		position: absolute;
		bottom: 0;
		left: 0%;
	}

	.parallax-mountain-b {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

#landing-page {
	height: 600px;
	background-size: cover;
	background-repeat: repeat;
	position: relative;

	.container {
		height: 90%; // Preserve for Stickiness

		.wrapper {
			position: sticky;
			top: 150px;
			text-align: center;
			color: $white;
			width: 100%;

			h1 {
				font-weight: 900;
			}

			p {
				font-weight: 300;
			}

			button {
				margin-top: 20px;
			}

			.contacts {
				a:not(:first-child) {
					margin-left: 30px;
				}
			}
		}
	}
}

#quick-overview {
	margin-top: -50px;
	margin-bottom: 50px;
	width: 100%;
	position: relative;

	.container {
		.wrapper {
			.box {
				background-color: $white;
				padding: 25px;
				border-radius: 10px;
				@include shadow($charcoal);

				h3 {
					margin: 0 0 20px 0;
					font-weight: 1000;
				}

				.left {
					.overview {
						&>*:not(:first-child):not(:last-child) {
							margin: 15px 0;
						}

						.overview-info {
							display: flex;
							align-items: center;
							transition: 0.1s ease-in-out;

							&:hover {
								background-color: $primary-color;
								color: $white;
								border-radius: 50px;
							}

							.oi-icon {
								background-color: $primary-color;
								border-radius: 50%;
								color: $white;
								padding: 10px;
								width: 35px;
								height: 35px;
								display: flex;
								justify-content: center;
								align-items: center;
							}

							.oi-text {
								margin-left: 10px;
							}
						}
					}
				}
			}
		}
	}
}

#about {
	background-color: $primary-color;
	padding: 100px 0;
	transition: 0.3s ease;


	.container {
		.wrapper {
			h1 {
				margin-top: 20px;
				font-weight: 900;
				@include textGradient;
			}

			.about-intro {
				.left {
					text-align: center;

					img {
						width: 250px;
					}
				}

				.right {
					p {
						margin: 20px 0;
						color: $white;
					}
				}
			}

			.about-goal {
				margin-top: 30px;

				.left {
					position: relative;
					text-align: center;
					z-index: 0;

					.terminal {
						@include terminal($charcoal, $white, 400px);
						z-index: 1;
					}

					.glow {
						z-index: 0;
					}
				}

				img {
					position: absolute;
					width: 100%;
					left: 50%;
					top: 20%;
					transform: translate(-50%, -50%);
				}
			}

			.right {
				margin-top: 50px;

				p {
					color: $white;
					margin-top: 30px;
				}
			}
		}
	}
}

#education-experience {
	background-color: $primary-color;
	padding: 50px 0;

	.container {
		.wrapper {
			.topper-title {
				text-align: center;
				padding: 30px 0;
				@include textGradient();
				font-weight: 900;
			}

			.timeline {
				display: flex;
				justify-content: center;
			}
		}
	}
}

#featured-projects {
	margin: 50px 0;

	.container {
		.wrapper {
			.texters {
				h1 {
					font-weight: 800;
					margin-bottom: 20px;
				}

				p {
					margin: 20px 0;
				}

				a {
					text-decoration: none;
				}

				button {
					width: 100%;
				}
			}

			.projects {
				// * Project Separations
				// ? Add Whitespace before another project

				&>* {
					margin: 0 0 30px 0;
				}
			}
		}
	}
}

#services {
	margin: 100px 0 0 0;
	background-color: $primary-color;

	.container {
		.wrapper {
			padding: 10px;

			.title {
				margin: 30px 0;
				@include textGradient;
				font-weight: 900;
				text-align: center;
			}

			.flex {
				.text {

					h3,
					p {
						color: $gray;
					}

					h3 {
						margin: 50px 0 20px 0;
						@include tooltip(bottom, $white, $charcoal, 150px);
					}

					svg {
						margin-right: 10px;
					}
				}

				&:nth-child(odd) figure img {
					@include five-tailed-shadow($white, bottomleft);
				}

				&:nth-child(even) figure img {
					@include five-tailed-shadow($white, bottomright);
				}

				figure {
					text-align: center;

					img {
						width: 100%;
						border-radius: 10px;
						margin: 30px auto;
						display: block;
						border: 1px $white solid;
						transition: 0.3s ease;

						&:hover {
							box-shadow: unset;
							@include shadow($white);
						}
					}
				}
			}
		}
	}
}

#request-project {
	margin: 100px 0;

	.container {
		.wrapper {
			.left {
				margin: 70px 0;

				text-align: center;

				h1 {
					color: $primary-color;
					font-weight: 900;
					margin-bottom: 30px;
				}

				.buttons {
					display: flex;
					flex-direction: column;

					button:first-child {
						margin-top: 30px;
					}
				}
			}

			.right {
				margin: 50px 0;

				img {
					width: 300px;
					margin: auto;
					display: block;
					filter: drop-shadow(1px 6px 6px rgba(90, 58, 58, 0.1));
				}
			}
		}
	}
}

#expertise {
	.expertise-triangle-top {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		padding-bottom: 50px;

		svg {
			position: relative;
			display: block;
			width: calc(100% + 1.3px);
			height: 57px;
		}

		.shape-fill {
			fill: $primary-color;
		}
	}

	.container {
		.wrapper {
			.expertise-topper {
				text-align: center;

				.title {
					font-weight: 1000;
				}
			}

			.tech-group {
				margin: 30px 0;

				.tech-group-title {
					padding: 10px 0;
				}

				.tech-list {
					display: flex;

					&>* {
						margin: 20px 20px 20px 0;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	#request-project {
		.container {
			.wrapper {
				display: flex;
				align-items: center;
				justify-content: space-between;

				&>* {
					width: 45%;
				}

				.left {
					margin: unset 0;
					text-align: left;

					h1 {
						color: $primary-color;
					}

					.buttons {
						justify-content: left;
					}
				}

				.right {
					margin: unset 0;
					text-align: right;

					img {
						width: 100%;
						text-align: right;
					}
				}
			}
		}
	}

	#services {
		background-color: $primary-color;

		.container {
			.wrapper {
				padding: 100px 10px;

				.texter {
					h1 {
						@include textGradient;
					}
				}

				.invert {
					flex-direction: row-reverse;
				}

				.flex {
					align-items: center;
					display: flex;
					justify-content: space-between;
					margin: 100px 0;

					&>* {
						width: 48%;
					}

					figure {
						img {
							margin: unset;
						}
					}
				}
			}
		}
	}

	#featured-projects {
		.container {
			.wrapper {
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;

				.texters {
					width: 35%;
					position: sticky;
					top: 10%;
					height: 100%;
				}

				.projects {
					width: 60%;
				}
			}
		}
	}

	#education-experience {
		background-image: url('../Images/landingpage/MountainClimb.png');
		background-size: cover;
		background-repeat: no-repeat;
	}

	#about {
		.container {
			.wrapper {
				.about-intro {
					display: flex;
					justify-content: space-between;
					align-items: center;

					&>* {
						width: calc(50% - 30px);
					}

					.left {
						img {
							width: 400px;
							transition: 0.3s ease;
						}
					}

					.right {
						margin-top: unset;
					}
				}

				.about-goal {
					margin-top: 100px;
					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					justify-content: space-between;

					&>* {
						width: calc(50% - 30px);
					}

					.left {
						img {
							width: 350px;
						}
					}
				}
			}
		}
	}

	#quick-overview {
		.container {
			.wrapper {
				.box {
					padding: 40px;
					display: flex;
					justify-content: space-between;

					&>* {
						width: 48%;
					}
				}
			}
		}
	}

	#parallax {
		&>* {
			width: 700px;
		}
	}

	#landing-page {
		height: 100vh;
		font-size: unset !important;

		.container {
			.wrapper {
				top: 200px;
				text-align: left;
				width: unset;

				.type-effect {
					&>* {
						display: inline;
					}
				}

				.contacts {
					margin: 30px 0;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	#landing-page {
		background-image: url(../Images/landingpage/Front-Mobile.png);
	}
}

@media (min-width: 768px) {
	#landing-page {
		background-image: url(../Images/landingpage/Front-Large.png);
	}
}